

.toggle {
    display: none;
}

.toggle + label {
    width: 32px;
    height: 20px;
    background: lightgray;
    display: block;
    position: relative;
    border-radius: 20px;
    padding: 2px;
    transition: 200ms;
    cursor: pointer;
}

.toggle + label:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: white;
    display: block;
    border-radius: 50%;
    right: unset;
    top: 2px;
    left: 2px;
    transition: 200ms;
}

.toggle:checked + label {
    background: blue;
}

.toggle:checked + label:before {
    content: '';
    left: calc(100% - 22px);
    box-shadow: 0 4px 4px rgb(0, 0, 0 / 10%);
}

body {
    transition: 200ms;
    background: white;
    color: rgb(49, 49, 49);
    font-family: 'Courier New', Courier, monospace, bold;
    text-align: center
}

body.dark {
    transition: 200ms;
    background: #2e2e2e;
    color: white;

}

p {
    height: 60px;
    text-align: justify;
    padding: 50px;
}